@import '../../style/mixins.scss';

.homeBanner-container {
    h2 {
        font: var(--unnamed-font-style-normal) 
        normal var(--unnamed-font-weight-600) 
        var(--unnamed-font-size-48)/var(--unnamed-line-spacing-60)
        var(--unnamed-font-family-source-serif-pro);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-172026);
        text-align: center;
        font-size: 36px;
    }
    .display-xl-24- {
        font-size: 28px;
        line-height: 42px;
        font-weight: bold;
        margin-top: 16px;
    }

    .regular-heading-20 {
        font-family: var(--unnamed-font-family-muli);
        font-style: var(--unnamed-font-style-normal);
        font-weight: var(--unnamed-font-weight-bold);
        font-size: var(--unnamed-font-size-16);
        line-height: var(--unnamed-line-spacing-25);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-172026);
        text-align: center;
    }

    .regualr-heading-16 {
        font-family: var(--unnamed-font-family-muli);
        font-style: var(--unnamed-font-style-normal);
        font-weight: var(--unnamed-font-weight-normal);
        font-size: var(--unnamed-font-size-16);
        line-height: var(--unnamed-line-spacing-24);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-172026);
        text-align: center;
    }

    .horizontal-bar {
        position: absolute;
        bottom: -20%;
        right: 37%;
        width: 25%;
    }

    .banner-content-sec {
        padding: 0 14px;
        text-align: left;
    }

    .banner-image-sec {
        width: 100%;
        margin-bottom: 16px;
        height: 350px;
        background-image: url(../../assests/manModel-1.jpg);
        background-position: top;
        background-size: cover;


    }

    .button-wrapper {
        padding: 0 50px;
        position: relative;
        .btn {
            padding: 10px 10px;
            margin: 8px 0;
            color: #D4703D;
            width: 100%;
        }

        .button-shop {
            background: var(--white) 0% 0% no-repeat padding-box;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #D4703D;
            opacity: 1;
        }

        .button-shopnow {
            background: var(--primary-brand) 0% 0% no-repeat padding-box;
            background: #E26A2C 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #39373729;
            opacity: 1;
            color: #ffffff;
            border: 2px solid #D4703D;
        }

    }
    .banner-container-lg {
        padding: 0 16px;
    }

}


@include tablet {
    .homeBanner-container {
        
        .display-xl-24- {
          text-align: center;
        }
        .regualr-heading-16 {
            text-align: left;
        }
        .regular-heading-20 {
            text-align: left;
        }

        .image-sec-right {
            float: right !important;
        }

        .horizontal-bar {
            position: absolute;
            left: -70px;
            width: 35%;
            bottom: -50%;
        }

        .button-wrapper {
           width:75%;
           padding: 0;
          
        }
        h2 {
            text-align: left;
         }
        

    }
}

@include desktop {
    
    .homeBanner-container {
        margin: 0 107px;

        h2 {
            font: var(--unnamed-font-style-normal) 
            normal var(--unnamed-font-weight-600) 
            var(--unnamed-font-size-48)/var(--unnamed-line-spacing-60)
            var(--unnamed-font-family-source-serif-pro);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            text-align: left;
            font-size: 48px;
        }

        .regular-heading-20 {
            font-family: var(--unnamed-font-family-muli);
            font-style: var(--unnamed-font-style-normal);
            font-weight: var(--unnamed-font-weight-600);
            font-size: var(--unnamed-font-size-20);
            line-height: var(--unnamed-line-spacing-25);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            text-align: left;
        }

        .regualr-heading-16 {
            text-align: left;
        }
        .regular-heading-20 {
            text-align: left;
        }

        .image-sec-right {
            float: right !important;
        }

        .horizontal-bar {
            position: absolute;
            top: 100px;
            left: -36%;
            width: 25%;
        }


        .banner-content-sec {
            padding: 0 20px;
            text-align: left;
         
        }

        .banner-image-sec {
            width: 100%;
            margin: 0;
            height: 350px;
            background-image: url(../../assests/manModel-1.jpg);
            background-position: top;
            background-size: cover;

        }

        .button-wrapper {
            display: flex;
            padding: 0;
            width: 100%;
      
            .btn {
                padding: 12px 15px;
                margin-right: 33px;
                color: #D4703D;
                width: auto;
            }

            .button-shop {
                background: var(--white) 0% 0% no-repeat padding-box;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 2px solid #D4703D;
            }

            .button-shopnow {
                background: var(--primary-brand) 0% 0% no-repeat padding-box;
                background: #E26A2C 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #39373729;
                opacity: 1;
                color: #ffffff;
                border: 2px solid #D4703D;
            }

        }

    }
}

@include largeDesktop{
   
    .homeBanner-container {
        .horizontal-bar {
            position: absolute;
            bottom: -17%;
            left: 9.8% !important;
            width:8%
        }
        
    }
    .banner-container-lg {
        padding: 0 100px !important;
    }
    
    
}