@import '../../style/mixins.scss';

.product-list-wrapper{
    padding: 0 16px;
}
.grid-container-inner{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;    
}
h4 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-muli);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
    text-align: left;
    font: normal normal 600 16px/20px Muli;
    padding: 8px 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 135px;
}
.loader-img{
    width:50%;
    height:50%;
}

.pagination {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);

   li{
        list-style: none;
         padding-right: 20px;
         &.active{
            a.page-link{
                 text-decoration: underline;
            }    

        }

        a{
            text-decoration: none;
            color: var(--unnamed-color-172026);
        }

    }

    .disabled{
        display:none;
    }
}

@include desktop {
    .product-list-wrapper{
        padding: 0 32px;
    }
    .grid-wrapper {
        display: flex;
    }
    .grid-container-inner{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 32px;
        
    }
    .grid-child-product{
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .grid-child-sidebar{
        margin-right: 40px;
         width: 30%;
    }
    h4 {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-muli);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-172026);
        text-align: left;
        font: normal normal 600 16px/20px Muli;
        padding: 8px 0;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
    }

    .pagination {
        margin: 0;
        display: flex;
        justify-content: center;
        padding: 30px 0;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-172026);
    
       li{
            list-style: none;
             padding-right: 20px;
             &.active{
                a.page-link{
                     text-decoration: underline;
                }    
    
            }
    
            a{
                text-decoration: none;
                color: var(--unnamed-color-172026);
            }
    
        }
    
        .disabled{
            display:none;
        }
    }
   
}