.checkout-btn{
    top: 558px;
    left: 1304px;
    width: 247px;
    height: 40px;
    /* UI Properties */
    background: var(--primary-brand) 0% 0% no-repeat padding-box;
    background: #D4703D 0% 0% no-repeat padding-box;
    opacity: 1;
    border: navajowhite;
    margin-bottom: 12px;
    color: #FFFFFF;
}