@import '../../../mixins.scss';

section{
    
        h2 {
            font: var(--unnamed-font-weight-600);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            text-align: center;
            margin-bottom: 24px;
        }
        .shopping-btn-mb {
            background: var(--white) 0% 0% no-repeat padding-box;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #D4703D;
            opacity: 1;
            color: #D4703D;
            padding: 11px 55px;
        }
        .text-btn-center{
            text-align: var( --unnamed-text-align-center);
            text-align: -webkit-center;
            margin:40px 0 48px;
        }
        .checkout-input-box{
            background: var(--white) 0% 0% no-repeat padding-box;
            border: 2px solid var(--gray-l2);
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #B5B7BC;
            border-radius: 8px;
            opacity: 1;
            width: 100%;
            height: 44px;
            margin-bottom: 20px;
            padding:8px 16px;
        }
        .checkout-selectbox {
            background: var(--white) 0% 0% no-repeat padding-box;
            border: 2px solid var(--gray-l2);
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #B5B7BC;
            border-radius: 8px;
            opacity: 1;
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            padding:8px 16px;
        }
        .shipping-method-heading ,
        .payment-method-heading {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-muli);
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal 600 20px/25px Muli;
            letter-spacing: 0px;
            color: #72777F;
            opacity: 1;
            padding: 24px 0;
        }
        
        .form-group {
            margin-right:20px;

        .checkout-lable{
            display: block;
            font-weight: 600;
            margin-bottom: 4px;
        }
       
        }
        .w-50{
            width:100% !important ;
        }

        .Shippinginfo-Readonly{
            .shippingreadonly-Heading{
                display: flex;
                justify-content: space-between;
            }
            
        }
        .shippinginfor-border{
            border: 1px solid #D1D3D6;
            border-radius: 2px;
            padding: 15px;
        }
}

@include desktop {
    section{
    
        h2 {
            font: var(--unnamed-font-weight-600);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            text-align: left;
            margin-bottom: 24px;
        }
        .w-50{
            width:100% ;
        }
        .checkout-input-box{
            background: var(--white) 0% 0% no-repeat padding-box;
            border: 2px solid var(--gray-l2);
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #B5B7BC;
            border-radius: 8px;
            opacity: 1;
            width: 100%;
            height: 44px;
            margin-bottom: 20px;
            padding:8px 16px;
        }
        .checkout-selectbox{
            background: var(--white) 0% 0% no-repeat padding-box;
            border: 2px solid var(--gray-l2);
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #B5B7BC;
            border-radius: 8px;
            opacity: 1;
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            padding:8px 16px;
        }
        .checkout-lable{
            display: block;
            font-weight: 600;
            margin-bottom: 4px;
        }
        .form-group {
            margin-right:20px;
        }
        .w-50{
            width:50% !important;
        }
        
        .shopping-btn {
            background: var(--white) 0% 0% no-repeat padding-box;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #D4703D;
            opacity: 1;
            color: #D4703D;
            padding: 11px 55px;
        }
    
    
    }
}