@import '../../mixins.scss';

.product-list-wrapper{
    padding: 0 16px;
}

.img-product{
    height:180px;
    width:100%;
}
.img-box {
    padding:10px;
    border:1px solid lightgrey;
 }
.product-price{
    margin:0 ;
    padding-bottom: 17px;
}
.title-section{
    padding-top: 8px;
}


@include desktop {
    .product-list-wrapper{
        padding: 0 32px;
    }
    .img-box{
      padding:10px;
      border:1px solid lightgrey;
    }
    .img-product{
        height:319px;
        width:100%;
    }
    
   
}