@import '../../style/mixins.scss';


.gallerycontainer {
    .column {
        img {
          height: 60px;
          vertical-align: middle;
          margin: 5px 0;
          width:100%;
        }
    }

    .next-slide {
      padding: 10px;
    }
}

.mySlides 
{
    img {
      height: 345px;
       width: 100%;
      padding: 35px;
      object-fit: contain;
  }
}
  
  .gallerycontainer {
    position: relative;
  }
  
  .mySlides {
    display: none;
  }
  

  .cursor {
    cursor: pointer;
  }
  
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .demo.active,
  .demo:hover {
    opacity: 1;
    border-bottom: 3px solid #e26a2c;
    padding: 5px;
  }

  @include tablet {
    .gallerycontainer {
      
      .next-slide {
        padding: 25px 17px;
      }
  }
}

  @include desktop {
    .gallerycontainer {
      .column {
          img {
            height: 85px;
            vertical-align: middle;
            margin: 5px 0;
            width: 100%;
  
          }
      }
    }

  }