.recentlyview-wrapper{
    .recent-view-heading {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-60) var(--unnamed-font-family-source-serif-pro);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-172026);
        text-align: center;
        font: normal normal 600 30px/60px Source Serif Pro;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
    }
    .recent-view-section {
        display: flex;
        justify-content: center;
    }
    
}


.recent-section-img {
    width: 100%;
    padding: 10px;
}

.rec-img {
    width: 100%;
    height: 250px;
    border: 1px solid #ddd;
    padding: 20px;
}