@import '../../variable.scss';
@import '../../mixins.scss';

.productdetails-wrapper {
    padding:33px 16px;
  
}
.addcart_buttom {
    background: var(--primary-brand) 0% 0% no-repeat padding-box;
    border-radius: 28px;
    margin-bottom: 24px;
    padding: 11px 90px;
    color:white;
    width:100%;
}
.flex-display{
    display: flex;
}
.desc-img{
    display: flex;
}
.desc-img :first-child{
    margin-bottom: 20px;
}
.product-info-details .img-details {
    width: 24px;
    height: 24px;
}
.product-title-detail{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-muli);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
    text-align: left;
    opacity: 1;
    font-weight: bold;
}
.desc-icon{
    margin: 0 40px;
    display: flex;
    align-items: center;
}
.horizontal-bar{
    width:110px;
    height: 8px;
    background-color: blue;
    margin: 0 auto;
}
.block-header{
    text-align: center;
}
.display-l-36- {
    font-family: var(--unnamed-font-family-source-serif-pro);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600) !important;
    font-size: var(--unnamed-font-size-24) !important;
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
}
.product-img{
    width:100%;
    height:550px;
}
.bar-padding{
    margin-bottom: 16px;
}
.sidebar-colors-section {
    display: flex;
    
  div {
        width: 64px;
        height: 40px;
        border-radius: 6px;
        margin: 0 5px 0 0;
        
    }
    img {
        border-radius: 10px;
    }

    .black-color {
        background: $color_black 0% 0% no-repeat padding-box;  }

    .white-color {
        background: $color_white 0% 0% no-repeat padding-box;
        border: 2px solid #DFE1E2;
    }

    .teal-green {
        background: $color_teal-green ;
    }

    .teal-blue{
        background-color: $color_teal_blue  ;
    }
    .magento-color{
        background-color: $color-magento  ;
    }
    .darkblack-color{
        background-color: $color-darkblack  ;
    }
    .grey-color{
        background-color: $color-grey ;
    }

}
.size-section {
    display: flex;
   
    div {
        width: 40px;
        height: 40px;
        border-radius: 6px;
        margin: 0px 20px 0 0;
        border: 1px solid;
        padding: 10px 15px;
    }
}
.quantity-wrapper {
    text-align: center;
    padding-bottom: 40px;
    .minus {
        background-image: url("../../assests/minus-circle.png");
        padding: 0px 6px;
    }

    .plus {
        background-image: url("../../assests/plus-circle.png");
        padding: 0px 6px;
    }

    .minus,
    .plus {
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        display: inline-block;
        padding: 16px;

    }

    .quantity {
        background: var(--white) 0% 0% no-repeat padding-box;
         border: 2px solid var(--gray-m1);
        border-radius: 8px;
        opacity: 1;
        width: 169px;
        height: 40px;
        margin: 0 12px;
        text-align: center;

    }
    .quantity-btn{
        width: 104px;
        margin: 0 12px;
        padding: 11px 35px;
        height: 40px;
        border-radius: 6px;
    
    }
    

}


@include desktop {
.productdetails-wrapper {
    padding: 33px 175px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.product-img {
    height: 680px;
    width: 100%;
}
.block-header{
    text-align: inherit;
}
.addcart_buttom {
background: var(--primary-brand) 0% 0% no-repeat padding-box;
border-radius: 28px;
margin-bottom: 24px;
padding: 11px 90px;
color:white;
width:auto;
}
.bar-padding{
    padding: 0 175px;
}
.sidebar-colors-section {
    display: flex;
    
  div {
        width: 64px;
        height: 40px;
        border-radius: 6px;
        margin: 0 15px 0 0;
        
    }
    img {
        border-radius: 10px;
    }

    .black-color {
        background: $color_black 0% 0% no-repeat padding-box;  }

    .white-color {
        background: $color_white 0% 0% no-repeat padding-box;
        border: 2px solid #DFE1E2;
    }

    .teal-green {
        background: $color_teal-green ;
    }

    .teal-blue{
        background-color: $color_teal_blue  ;
    }
    .magento-color{
        background-color: $color-magento  ;
    }
    .darkblack-color{
        background-color: $color-darkblack  ;
    }
    .grey-color{
        background-color: $color-grey ;
    }

}
.size-section {
    display: flex;
   
    div {
        width: 64px;
        height: 40px;
        border-radius: 6px;
        margin: 0 15px 0 0;
        border: 1px solid;
        padding: 10px 25px;
    }
}
.quantity-wrapper {
    text-align: inherit;
    padding-bottom: 40px;
    .minus {
        background-image: url("../../assests/minus-circle.png");
        padding: 0px 6px;
    }

    .plus {
        background-image: url("../../assests/plus-circle.png");
        padding: 0px 6px;
    }

    .minus,
    .plus {
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        display: inline-block;
        padding: 16px;

    }
    h2{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-source-serif-pro);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-172026);
    }

    .quantity {
        background: var(--white) 0% 0% no-repeat padding-box;
         border: 2px solid var(--gray-m1);
        border-radius: 8px;
        opacity: 1;
        width: 169px;
        height: 40px;
        margin: 0 12px;
        text-align: center;

    }
    .quantity-btn{
        width: 104px;
        margin: 0 12px;
        padding: 11px 35px;
        height: 40px;
        border-radius: 6px;
    
    }
    

}
.product-info-details {
    .img-details{
        width:24px;
        height:24px;
    }
    
}
.desc-icon{
    margin: 0 40px;
    display: flex;
    align-items: center;
}
.horizontal-bar{
    width:110px;
    height: 8px;
    background-color: blue;
    margin: 0 0 44px 0;
   
}
.pt-16{
    padding-top: 16px;;
}

}