$color_black: #172026;
$color_white:#ffffff;
$color_teal-green: #2D9D78;
$color_mustard: #FDBA5E;
$color_blue: #172026;
$color_red: #E34850;
$color_lavender:#6408D3; 
$color_pink:#F9009A;
$color_yellow:#EB7327 ;
$color_teal_blue:#0DA0BC;
$color-magento:#D82578;
$color-grey: #A5A5A5;
$color-darkblack: #333333;