@import '../../../mixins.scss';

.order {


    .order__details {
        padding: 0 ;
        h2 {
            font: var(--unnamed-font-weight-600);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            
            margin-bottom: 24px;
            font-size:20px;
            
        }

        h3 {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-muli);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            padding-bottom: 8px;
        }

        p {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--gray-d1);
            width: 100%;
            padding-bottom: 32px;
        }

        img{
            object-fit: contain;
            width: 100%;
            }
        }
        article {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            padding-top: 40px;

            p {
                width: 100%;
            }
        }
    }

    .adds__section {
        display: none;
    



}


@include desktop {

    .order {
        .order__details {
           padding: 0 32px 0px 0;
           
            article {
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-172026);
                padding-top: 40px;
    
        }
    }
        .adds__section {
            display: block;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-45) ;
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--white);
            text-align: center;
            background: var(--primary-d1) 0% 0% no-repeat padding-box;
            border: 1px solid var(--unnamed-color-D1D3D6);
            border-radius: 2px;
            min-height: 235px;
            padding: 39px 0;
            
        }
        .ad-heading{
            text-align: center;
            font: normal normal 600 36px/45px Source Serif Pro;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            padding: 0 32px;
        }
        

        .social__links {
            padding-top: 40px;
            display: flex;
            justify-content: space-evenly;

            svg {
                margin-right: 40px;
                height: 49px;
                width: 49px;
            }
        }
    }

}
